@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
  font-family: 'Lexend', sans-serif;
}

@layer utilities {
  .glass-effect {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .dark .glass-effect {
    background: rgba(16, 28, 34, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}